In [10]:
import re
mr = re.match(r'\d{3}-\d{3,8}','010-2345987')
print(mr.group())

010-2345987

In [17]:
m = re.match(r'(\d{3})-(\d{3,8})','010-2345987')
print(m.groups())
print(m.group(0))
print(m.group(1))
print(m.group(2))

('010', '2345987')
010-2345987
010
2345987

In [21]:
t = '20:15:45'
res = re.match(r'^(0[0-9]|1[0-9]|2[0-3]|[0-9])\:([0-5][0-9])\:([0-5][0-9])$',t)
print(res.string)
print(res.groups())

20:15:45
('20', '15', '45')

In [22]:
p = re.compile(r'\d+')
print(p.split('one1two22three333'))

['one', 'two', 'three', '']