In [26]:
import sqlite3
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
# create_sql = 'create table company(id int primary key not null, emp_name text not null)'
#cursor.execute(create_sql)
insert_sql = 'insert into company values(?, ?)'
cursor.execute(insert_sql, (100, 'LY'))
cursor.execute(insert_sql, (200, 'July'))
cursor.close()
conn.commit()
# cursor.execute('select * from company')
# print(cursor.fetchall())

OperationalError: database is locked