In [2]:
import numpy as np
import pandas as pd
a = [98,83,65,72,79,76,75,94,91,77,63,83,89,69,64,78,63,86,91,72,71,72,70,80,65,70,62,74,71,76]

In [10]:
s = pd.Series(a)
s.mean()

75.96666666666667

In [16]:
np.sort(a)[14:16].mean()

74.5

In [20]:
def get_mode(arr):
    mode = []
    arr_appear = dict((a,arr.count(a)) for a in arr)
    if max(arr_appear.values()) == 1:
        return
    else:
        for k, v in arr_appear.items():
            if v == max(arr_appear.values()):
                mode.append(k)
        return mode
get_mode(a)

[72]

In [24]:
s.var()

96.51609195402297

In [26]:
s.std()

9.824260376945583

In [28]:
s.skew()

0.5742891873354592

In [30]:
s.kurt()

-0.4287237479537329

In [101]:
s.describe()

count    30.000000
mean     75.966667
std       9.824260
min      62.000000
25%      70.000000
50%      74.500000
75%      82.250000
max      98.000000
dtype: float64

In [107]:
s.quantile(0.25)

70.0

In [109]:
df = pd.DataFrame({'data1' : np.random.randn(5),
                'data2' : np.random.randn(5)})

In [110]:
df.cov()

          data1     data2
data1  0.409278 -0.236080
data2 -0.236080  1.138762

In [111]:
df.corr()

          data1     data2
data1  1.000000 -0.345807
data2 -0.345807  1.000000

In [118]:
from scipy import stats as ss
df = pd.DataFrame({'data':[10.1,10,9.8,10.5,9.7,10.1,9.9,10.2,10.3,9.9]})
ss.ttest_1samp(a = df, popmean=10)

Ttest_1sampResult(statistic=array([0.65465367]), pvalue=array([0.52906417]))