In [77]:
import numpy as np
import os
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame
np.random.seed(1)
plt.rc('figure',figsize=(10,6))
np.set_printoptions(precision=4)
pd.options.display.notebook_repr_html = False

##groupby技术
df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5),
                'data2' : np.random.randn(5)})

grouped = df['data1'].groupby(df['key1'])
for i,j in grouped:
    print(i)
    print(j)
print(df['data1'])
grouped1 = df.groupby(['key1'])
for i,j in grouped1:
    print(i)
    print(j)

a
0    1.624345
1   -0.611756
4    0.865408
Name: data1, dtype: float64
b
2   -0.528172
3   -1.072969
Name: data1, dtype: float64
0    1.624345
1   -0.611756
2   -0.528172
3   -1.072969
4    0.865408
Name: data1, dtype: float64
a
  key1 key2     data1     data2
0    a  one  1.624345 -2.301539
1    a  two -0.611756  1.744812
4    a  one  0.865408 -0.249370
b
  key1 key2     data1     data2
2    b  one -0.528172 -0.761207
3    b  two -1.072969  0.319039

In [18]:
grouped.mean()
groups = df['data1'].groupby([df['key1'],df['key2']])
groups.mean()

key1  key2
a     one     1.244876
      two    -0.611756
b     one    -0.528172
      two    -1.072969
Name: data1, dtype: float64

In [23]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()
df.groupby('key1').mean()
df.groupby(['key1', 'key2']).mean()
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [27]:
#对分组进行迭代
for name, group in df.groupby('key1'):
    print(name)
    print(group)

for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)

a
  key1 key2     data1     data2
0    a  one  1.624345 -2.301539
1    a  two -0.611756  1.744812
4    a  one  0.865408 -0.249370
b
  key1 key2     data1     data2
2    b  one -0.528172 -0.761207
3    b  two -1.072969  0.319039
('a', 'one')
  key1 key2     data1     data2
0    a  one  1.624345 -2.301539
4    a  one  0.865408 -0.249370
('a', 'two')
  key1 key2     data1     data2
1    a  two -0.611756  1.744812
('b', 'one')
  key1 key2     data1     data2
2    b  one -0.528172 -0.761207
('b', 'two')
  key1 key2     data1     data2
3    b  two -1.072969  0.319039

In [32]:
pieces = dict(list(df.groupby('key1')))
pieces['b']

  key1 key2     data1     data2
2    b  one -0.528172 -0.761207
3    b  two -1.072969  0.319039

In [34]:
df.dtypes
grouped = df.groupby(df.dtypes, axis=1)
dict(list(grouped))

{dtype('float64'):       data1     data2
 0  1.624345 -2.301539
 1 -0.611756  1.744812
 2 -0.528172 -0.761207
 3 -1.072969  0.319039
 4  0.865408 -0.249370, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

In [54]:
#通过字典后Series分组
people = DataFrame(np.random.randn(5, 5),
                   columns=['a', 'b', 'c', 'd', 'e'],
                   index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.ix[2:3, ['b', 'c']] = np.nan
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
           'd': 'blue', 'e': 'red', 'f' : 'orange'}
by_column = people.groupby(mapping, axis=1)
for i, j in by_column:
    print(i)
    print(j)
by_column.sum()

blue
               c         d
Joe    -0.175459 -0.933915
Steve  -0.475373  0.477610
Wes          NaN -0.035368
Jim     0.367232  1.232899
Travis -0.830169  0.451616
red
               a         b         e
Joe    -0.184176 -0.115985 -0.533020
Steve  -1.426555  1.767960 -1.021886
Wes     0.794528       NaN  2.110605
Jim    -1.306534  0.076380 -0.422857
Travis  0.086464 -2.142467  1.104174

d:\soft\python36\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

            blue       red
Joe    -1.109374 -0.833182
Steve   0.002237 -0.680481
Wes    -0.035368  2.905133
Jim     1.600131 -1.653011
Travis -0.378553 -0.951828

In [55]:
map_series = Series(mapping)
by_column2 = people.groupby(map_series, axis=1)
for i, j in by_column2:
    print(i)
    print(j)
by_column2.count()

blue
               c         d
Joe    -0.175459 -0.933915
Steve  -0.475373  0.477610
Wes          NaN -0.035368
Jim     0.367232  1.232899
Travis -0.830169  0.451616
red
               a         b         e
Joe    -0.184176 -0.115985 -0.533020
Steve  -1.426555  1.767960 -1.021886
Wes     0.794528       NaN  2.110605
Jim    -1.306534  0.076380 -0.422857
Travis  0.086464 -2.142467  1.104174

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [66]:
#通过函数进行分组
print(people)
g1 = people.groupby(len)
for i, j in g1:
    print(i)
    print(j)
g1.sum()
key_list = ['one', 'one', 'one', 'two', 'two']
g2 = people.groupby([len, key_list])
for i, j in g2:
    print(i)
    print(j)

               a         b         c         d         e
Joe    -0.184176 -0.115985 -0.175459 -0.933915 -0.533020
Steve  -1.426555  1.767960 -0.475373  0.477610 -1.021886
Wes     0.794528       NaN       NaN -0.035368  2.110605
Jim    -1.306534  0.076380  0.367232  1.232899 -0.422857
Travis  0.086464 -2.142467 -0.830169  0.451616  1.104174
3
            a         b         c         d         e
Joe -0.184176 -0.115985 -0.175459 -0.933915 -0.533020
Wes  0.794528       NaN       NaN -0.035368  2.110605
Jim -1.306534  0.076380  0.367232  1.232899 -0.422857
5
              a        b         c        d         e
Steve -1.426555  1.76796 -0.475373  0.47761 -1.021886
6
               a         b         c         d         e
Travis  0.086464 -2.142467 -0.830169  0.451616  1.104174
(3, 'one')
            a         b         c         d         e
Joe -0.184176 -0.115985 -0.175459 -0.933915 -0.533020
Wes  0.794528       NaN       NaN -0.035368  2.110605
(3, 'two')
            a        b         c         d         e
Jim -1.306534  0.07638  0.367232  1.232899 -0.422857
(5, 'one')
              a        b         c        d         e
Steve -1.426555  1.76796 -0.475373  0.47761 -1.021886
(6, 'two')
               a         b         c         d         e
Travis  0.086464 -2.142467 -0.830169  0.451616  1.104174

In [67]:
#通过索引进行分组
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                    [1, 3, 5, 1, 3]], names=['cty', 'tenor'])
print(columns)

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])